<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <title>{% block titulo %}{% endblock %}</title>
    </head>
    <body>
        {% with mensagem = get_flashed_messages(with_categories=True) %}
        {% for cat, msg in mensagens %}
        <p class="flash{{ cat }}">{{ msg }}</p>
        {% endfor %}
        {% endwith  %}

        <div id="conteudo">
            {% block header %}{% endblock %}
            {% block main %}{% endblock %}
        </div>
    </body>
</html>