<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <title>
            {% block titulo %}{% endblock %}
        </title>
    </head>
    <body>
        {% with mensagem = get_flashed_messages(with_categories=True) %}
        {% for cat, msg in mensagens %}
        <p class="flash{{ cat }}">{{ msg }}</p>
        {% endfor %}
        {% endwith  %}

        <main>
            {% block conteudo %}{% endblock %}
        </main>
    </body>
</html>