{% extends 'base.html' %}

{% block titulo %} Risco de Incêndio — IPMA {% endblock %}

{% block conteudo %}
    <h1>Risco de Incêndio nos Concelhos de Portugal</h1>
    <div class="distritos">
        {% for distrito, concelhos in mapa_dados.items() %}
        <details>
            <summary>{{ distrito }}</summary>
            {% for concelho, dados in concelhos.items() %}
            <div class="concelhos {% if dados.rcm == 1 %}rcm-1{% elif dados.rcm == 2 %}rcm-2{% elif dados.rcm == 3 %}rcm-3{% elif dados.rcm == 4 %}rcm-4{% elif dados.rcm == 5 %}rcm-5{% endif %}">
                <p>{{ dados.dico }}</p>
                <p>{{ concelho }}</p>
                <p>{{ dados.rcm }}</p>
                <img class="fogo" src="{{ url_for('static', filename='svg/incendio-' ~ dados.rcm ~ '.svg') }}" alt="Risco de incêndio">
            </div>
            {% endfor %}
        </details>
        {% endfor %}
    </div>
{% endblock %}